@import '~react-md/src/scss/react-md';

.landing-home {
}

.introduction {
  display :flex;
  height: 100vh;
}

.intro-div{
  padding : 5%;
  
}

.introduction-para {
  margin-top: 5%;
  text-align: justify;
}

.login-div {
  margin-top: 5%;
  width: 100%;
}

.features {
  height: 100vh;
  background: yellow;
}

.introduction-div {
  padding: 5%;
}

.haha {
  background: pink;
}
