@import '~react-md/src/scss/react-md';

.registration-div {

  align-self: center;
  display: flex;
  flex-direction: column;
  box-shadow : 0px 0px 5px #888888;
  border-radius: 1%;
  padding: 2%;
  width : 350px;
}

.registration-btn {
  align-self: center;
  width: fit-content;
}

.main-content-container-div {
  display: flex;
  flex-direction: column;
  margin-top:4%;
}
