// @import '~react-md/src/scss/react-md';

body {
  height: 100%;
  width: 100%;
}
  
.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}